@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as *;

.app-container {
  margin-top: var.$header-height-md;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  min-height: 100vh;
}

.container {
  @include container;
}
