@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as *;

html.dark {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    .header {
        background-color: rgba(0, 0, 0, 0.85);
        color: white;

        a,
        button {
            color: white;
        }

        .logo a::after {
            background: var.$gray-dark;
        }
    }

    .card {
        background-color: #1e1e1e;
        border: 1px solid #333;
        color: #eee;
    }

    .buy-button {
        background: linear-gradient(135deg, #6366f1, #8b5cf6);
        color: white;
    }
}