// src/styles/components/_section.scss
@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as *;

.section {
  padding: 20px;
  margin: 20px;
  position: relative;
  
  &.center {
    text-align: center;
  }

  &.light {
    background-color: var.$gray-light;
  }

  &.dark {
    background-color: #333;
    color: var.$white;
  }

  &.with-border {
    border-bottom: 1px solid #e5e7eb;
  }
}
// _flex-section.scss
.flex-section {
  display: flex;
  flex-wrap: nowrap ;
  align-items: center;
  justify-content: space-between;

  &--center {
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }
}
