@use '../abstracts/variables' as var;

@font-face {
  font-family: 'OngleafParkDahyun';
  src: url('../../../public/fonts/온글잎_박다현체.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
// 본문 
@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// 제목
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: 'BMJUA', var.$font-main, sans-serif;
}
